@model mis_421_assignment_3.Models.ActorDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.IMDBHyperlink)
        </dt>
        <dd class="col-sm-10">
            <a href="@(Model.Actor.IMDBHyperlink.StartsWith("http://") || Model.Actor.IMDBHyperlink.StartsWith("https://") ? Model.Actor.IMDBHyperlink : "http://" + Model.Actor.IMDBHyperlink)" target="_blank">@Model.Actor.IMDBHyperlink</a>
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class = "col-sm-10">
            <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new {id = Model.Actor.Id})" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<h2>Top 100 Reddit Posts Overall Expressing @Model.SentimentScore% @Model.OverallSentiment Sentiment about @Model.Actor.Name *Zero Scores Not Included in Overall Analyzed Sentiment Calculation</h2>

<table class="table">
    <thead>
        <tr>
            <th>Reddit Post</th>
            <th>Sentiment Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.RedditPosts.Take(100))
        {
            <tr>
                <td>@post.Content</td>
                <td>@post.SentimentScore</td>
            </tr>
        }
    </tbody>
</table>